/**
 * A set of base styles to make AriaMenuButton look like a button
 * that toggles a dropdown menu.
 *
 * 1. Clickable parts have a pointer.
 * 2. The trigger, like native buttons, is an inline-block.
 * 3. The trigger, like native buttons, has non-selectable text.
 * 4. The menu is a popup-dropdown that opens beneath the button,
 *   covering whatever is beneath it.
 * 5. The menu is flush with the left side of the button unless
 *   it is set to flushRight.
 * 6. The menu, though an ordered list, does not have default
 *   list styling.
 * 7. The menu has a limited range of width.
 * 8. The selected item is visually distinguished.
 */

.AriaMenuButton {
  position: relative; /* 4 */
}

.AriaMenuButton-trigger {
  cursor: pointer; /* 1 */
  display: inline-block; /* 2 */
  -webkit-user-select: none; /* 3 */
  -moz-user-select: none; /* 3 */
  -ms-user-select: none; /* 3 */
  user-select: none; /* 3 */
}

.AriaMenuButton-menu {
  background: #fff; /* 4 */
  border: 1px solid; /* 4 */
  list-style-type: none; /* 6 */
  padding-left: 0; /* 6 */
  position: absolute; /* 4 */
  top: 100%; /* 4 */
  left: 0; /* 5 */
  z-index: 99; /* 4 */
  min-width: 125px; /* 7 */
  max-width: 200px; /* 7 */
}

.AriaMenuButton-menu--flushRight {
  right: 0; /* 5 */
}

.AriaMenuButton-menuItem {
  cursor: pointer; /* 1 */
}

.AriaMenuButton-menuItem.is-selected {
  cursor: default; /* 1 */
  font-weight: bold; /* 8 */
}
