body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  max-width: 600px;
  margin: 0 auto 200px;
  padding: 10px;
}

/* transition */

.AriaMenuButton-menu {
  -webkit-transform-origin: 10px 0;
  transform-origin: 10px 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* cf. https://github.com/facebook/react/issues/2227 */
.AriaMenuButton-menu.is-enter-active,
.AriaMenuButton-menu.is-leave-active {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(.55,0,.1,1);
  transition: transform 0.2s cubic-bezier(.55,0,.1,1);
}

.AriaMenuButton-menu.is-enter,
.AriaMenuButton-menu.is-leave.is-leave-active {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.AriaMenuButton-menu.is-enter.is-enter-active,
.AriaMenuButton-menu.is-leave {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Fancy */

#fancy .AriaMenuButton-menu {
  width: 250px;
  max-width: 250px;
}

.Fancy-item::after {
  content: '';
  display: table;
  clear: both;
}

.Fancy-svg {
  float: left;
  width: 50px;
  margin-top: 2px;
}

.Fancy-text {
  display: block;
  float: left;
  margin: 0 5px;
}

.Fancy-keyword {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#fancy .AriaMenuButton-li:nth-child(even) .Fancy-svg,
#fancy .AriaMenuButton-li:nth-child(even) .Fancy-text {
  float: right;
}

#fancy .AriaMenuButton-li:nth-child(even) .Fancy-text {
  text-align: right;
}
